# Variables de entorno basadas en appsettings.json

# JWT
JWT_SECRET=7h3=Dr34m=734m=Sk4nD14=api_RealEstate2024!
JWT_EXPIRE=30
JWT_ISSUER=https://localhost:7288/
JWT_AUDIENCE=https://localhost:7288/
JWT_SCOPES=AQ

# Password
PASSWORD=B9KhlTBu8K2N/XaoT/rxUQ==

# Database
DB_CONNECTION_STRING_ENCRYPTED=yD00gz9wj1cyI2AClEgGknc244AFidCgXkZRuCzMLSebNgWz53WMQOr0/TqZO/rNiQ8hXSBd4bKyD+5OkqmrNFLr/rc5X3GExIQze9AlOX2UpTOrUzLH8+FqvRuv+Kq5w/1NFnMdu5FWpKa/Ja6Pww==
DB_KEY_ENCRYPT=_RealEstate
